<mat-toolbar>
  My App
  <span fxFlex></span>

  <button mat-button [routerLink]="[ '/auth/login']">
    <mat-icon>input</mat-icon>
    &nbsp; Sign in
  </button>

  <button mat-button [routerLink]="[ '/auth/register']">
    <mat-icon>person_add</mat-icon>
    &nbsp; Sign up
  </button>

  <button mat-icon-button [routerLink]="[ '/main/people']">
    <mat-icon>people</mat-icon>
  </button>

  <button mat-icon-button [routerLink]="[ '/main/products']">
    <mat-icon>shop</mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>